.label {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  cursor: pointer;
}

.label:hover {
  background: rgb(238 252 255);
}

.label:hover .only {
  display: inline;
}

.input {
  margin-right: 10px;
}

.only {
  display: none;
  cursor: pointer;
  font-weight: 600;
  color: rgb(0, 170, 252);
}

.only:hover {
  opacity: 0.8;
}
