.app {
  display: flex;
  background: rgb(242, 247, 250);
  max-width: 1000px;
  margin: 20px auto 0;
}

.left {
  width: 250px;
  min-width: 250px;
  margin-right: 20px;
}

.right {
  width: 100%;
}

.currenciesRatesLoader {
  margin: 10px;
}
